# Telco Data Churn - Analysis (EDA)
-- **Running this notebook is required in order to BOTH download the raw data and create a pruned + cleaned version of it for use on the NN.** --
## Specific Aim of analysis: Prune and Clean Data
Though possible to give a Neural Network a set of raw data and tell it to simply "predict customer churning," analysing the data to specifically look for things that have any kind of correlation with churning and then using those as the input can increase learning speed and accuracy.
Furthermore, understanding the data helps immensely with understanding the results derived by the NN and how the hidden layers of the NN may work.

### Personally, I also just need to learn how to perform EDA and expand my knowledge of technologies.
I believe in the workplace the NN's role is to automate churn prediction after data scientists and analysists have performed EDA to find out what the predictors actually are.

-- ***As detailed in README.md, this notebook allows for downloading of the dataset onto local devices, provided the user's personal 'kaggle.json' has been provided. If it has not, please refer to the readme.*** --

In [1]:
print('jupyter lab test, hello!')

jupyter lab test, hello!

## Downloading the Dataset
The below cell is for downloading the dataset as detailed in the README.

### Troubleshooting - For if the below cell is not running properly
Please restart the notebook and try again. If problems persist, it could be for one of the following reasons:
1. 'kaggle.json' is in the wrong folder: If you do not have a file 'kaggle.json', refer to the file README.md in the root, otherwise make sure that 'kaggle.json' has been correctly placed in the folder '.kaggle' in the root.
2. The code has shifted out of order: Ensure that the line ``os.environ["KAGGLE_CONFIG_DIR"]`` is before KaggleApi is imported. This sets the working directory
3. The code is pointing to the wrong directory: Please use the commented out print statement labelled 'For Troubleshooting' to check where the api is pointing. If it does not match the .kaggle folder detailed here, you may either amend the workingdir so it points to the right place or follow the error and place 'kaggle.json' in the default scanning area

In [2]:
import os
workingdir = os.path.dirname(os.getcwd()) 
print("kaggle.json should be in: "+workingdir+"\\.kaggle")
os.environ["KAGGLE_CONFIG_DIR"] = os.path.join(workingdir,'.kaggle')

from kaggle.api.kaggle_api_extended import KaggleApi

# point the Kaggle CLI to the Kaggle folder, allowing for use of the dataset outside of the Kaggle Website
api = KaggleApi()

# For troubleshooting: print("The variable \"working dir\" should match: "+api.config_dir)
api.authenticate()

api.dataset_download_files(
    'blastchar/telco-customer-churn',
    path='../data/raw',
    unzip=True  # Extract into data/raw/
)
print("Downloaded and unzipped to data/raw/")

kaggle.json should be in: c:\Users\osiam\OneDrive\Documents\GitHub\A-Newbie-Made-Neural-Network\.kaggle
Dataset URL: https://www.kaggle.com/datasets/blastchar/telco-customer-churn
Downloaded and unzipped to data/raw/

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

#It's generally better to see more columns than less, considering I have no clue what I'm looking for
pd.set_option('display.max_columns', 25)

In [4]:
df = pd.read_csv('../data/raw/WA_Fn-UseC_-Telco-Customer-Churn.csv')

### Step 1: Data understanding
In order to prune the data for our purposes, we first need to understand what data is included in the CSV

#### Data Overview

In [5]:
df.shape

(7043, 21)

Clearly not as large as a dataset like MNIST, but surely enough for some sort of learning to be done.

In [6]:

df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [7]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [9]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

The TotalCharges column has dtype object but, as seen in df.head(), clearly adopts the float64 format. To avoid cases of texual numeric nulls, I will:
1. inspect non-numeric entries
2. attempt a safe conversion to numeric (coercing invalid strings to NaN), and 
3. Clean any nulls discovered

This conversion will also allow for easier analysis with the total charges column as a quantity.

In [ ]:
df['TotalCharges'].head()
#df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

0      29.85
1     1889.5
2     108.15
3    1840.75
4     151.65
Name: TotalCharges, dtype: object

In [32]:
#The pandas regular expression of the year seen below:
#Whole thing creates a column locating total charges that are not of type float64 and sets a "True" value if such is the case. If the value is normal then it reports "False"
non_numerics = ~df['TotalCharges'].astype(str).str.match(r'^\s*\d+(\.\d+)?\s*$')

#Breaking it down again for my own understanding and satisfaction:
# r'[placeholder text]' initiates a regex, similar to what is used in javaCC - Formal Languages is such a fun class please take it
# \s* allows for whitespace at the front
# \d+ means 1 or more denary numbers must follow
# (\.\d+)? means that optionally, a decimal point can follow before a bunch more denary numbers
# $ Signifies the end of the expression


df[non_numerics]['TotalCharges'].value_counts()            #Count the number of failures

TotalCharges
    11
Name: count, dtype: int64

In [33]:
df[non_numerics]['TotalCharges'] == True        # Show said failures

488     False
753     False
936     False
1082    False
1340    False
3331    False
3826    False
4380    False
5218    False
6670    False
6754    False
Name: TotalCharges, dtype: bool

In [ ]:
# 11 values as required
# We now inspect the problem with these values:
df[non_numerics]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,4472-LVYGI,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,,No
753,3115-CZMZD,Male,0,No,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,,No
936,5709-LVOEQ,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,,No
1082,4367-NUYAO,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,,No
1340,1371-DWPAZ,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,,No
3331,7644-OMVMY,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,,No
3826,3213-VVOLG,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,,No
4380,2520-SGTTA,Female,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,,No
5218,2923-ARZLG,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,,No
6670,4075-WKNIU,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,,No
6754,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,,No

Therefore, there are indeed textual numeric null values. 
We now fix that and continue the EDA:

In [34]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

In [ ]:
# Sanity Check
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB